<div class="row">
  <div class="col-sm-3">
    <%= render "layouts/sidebar", user: @user, book_new: @book_new %>
  </div>
  <div class="col-sm-9">
    <h2>Message list</h2>
    <table class="table table-hover">
      <thead class="row">
        <th class-"col-sm-2">Image</th>
        <th class="col-sm-5">Name</th>
        <th class="col-sm-3">Last Message</th>
        <th class="col-sm-2"></th>
      </thead>
      <tbody>
        <% @message_users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :image, :fill, 30, 30, format: "jpg", fallback: "noimage.jpg", size: "30x30" %></td>
            <td><%= link_to user.name, user_path(user.id) %></td>
            <td><%= current_user.get_messages(user).last.message %></td>
            <td><%= link_to "See More", message_user_path(current_user, user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>