<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h2>Message with <%= @with_user.name %></h2>    
    <div class="message-box">
      <%= form_with model: @message_new, url: message_user_path(@user, @with_user), local: true do |f| %>
        <div class="form-group">
          <%= f.label :message, class: "control-label" %><br>
          <%= f.text_area :message, class: "form-control" %>
        </div>
        <div class="submit-btn">
          <%= f.submit "Post", class: "btn btn-default" %>
        </div>
      <% end %>
      <br>
      <% @messages.each do |m| %>
        <% if m.from_user_id == @user.id %>
          <p class="text-right">
            <%= m.message %>
            <%= m.created_at.strftime("%Y/%m/%d %H:%M") %>
            <%= attachment_image_tag m.from_user, :image, :fill, 30, 30, fallback: "noimage.jpg", size: "30x30" %>
            <%= link_to "Delete", messages_user_path(@user, m), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </p>
        <% else %>
          <p class="text-left">
            <%= attachment_image_tag m.from_user, :image, :fill, 30, 30, fallback: "noimage.jpg", size: "30x30" %>
            <%= m.message %>
            <%= m.created_at.strftime("%Y/%m/%d %H:%M") %>
          </p>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Back", messages_user_path(@user) %>
  </div>
</div>