<div class="row">
    <div class="col-sm-4">
        <%= render "layouts/sidebar", { book_new: @book_new, user: @user } %>
    </div>
    <div class="col-sm-8">
        <h2>Users</h2>
        <%= form_with scope: :search, url: users_search_path, local: true do |f| %>
            <div class="form-group form-inline"
                <%= f.label "検索方法", for: "search_how", class: "control-label" %>
                <%= f.select :how, ["前方検索", "後方検索", "全検索"], { include_blank: "せんたくしてください" }, { class: "form-control" } %>
                <%= f.label "キーワード", for: "search_keyword", class: "control-label" %>
                <%= f.text_field :keyword, class: "form-control" %>
                <%= f.submit "Search", class: "btn btn-default" %>
            </div>
        <% end %>
        <table class="table table-hover users-table">
            <thead class="row">
                <th class="col-sm-2">image</th>
                <th class="col-sm-8">name</th>
                <th class="col-sm-2"></th>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= attachment_image_tag user, :image, fallback: "noimage.jpg", class: "image-in-table" %></td>
                        <td><%= user.name %></td>
                        <td><%= link_to "Show", user_path(user) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>